/* Общий сброс */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Основные стили */
body {
  font-family: 'Roboto', sans-serif;
}

/* Сцена */
.scene {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 450px;
  margin-top: 0;
  margin-left: 0;
  background-color: #3b82f6;
  transform: translate3d(0, 0, 0);
}

/* Общие стили для слоев */
.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

/* Движущиеся объекты */
.moving-object {
  position: absolute;
  z-index: 6;
  background-repeat: no-repeat;
  background-position: 0 50%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

/* Слой 1 - Голуби */
.layer-1 {
  animation: animation_fg linear 30s infinite both;
  background: url(https://raw.githack.com/miiirumirrr/CSS-style-dlya-practic/4408909cb242aa34d7ea8ae71ed090950e50f309/photo8/layer1.png) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
  height: 100%;
  background-size: auto 1450px;
}

/* Слой 2 - Цирковь */
.layer-2 {
  animation: animation_fg linear 55s infinite both;
  background: url(https://raw.githack.com/miiirumirrr/CSS-style-dlya-practic/4408909cb242aa34d7ea8ae71ed090950e50f309/photo8/layer2.png) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
  height: 100%;
  background-size: auto 1450px;
}

/* Слой 3 - Пласт */
.layer-3 {
  animation: animation_fg linear 75s infinite both;
  background: url(https://raw.githack.com/miiirumirrr/CSS-style-dlya-practic/4408909cb242aa34d7ea8ae71ed090950e50f309/photo8/layer3.png) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
  height: 100%;
  background-size: auto 1450px;

/* Слой 4 - Колесо и набережная */
.layer-4 {
  animation: animation_fg linear 95s infinite both;
  background: url(https://raw.githack.com/miiirumirrr/CSS-style-dlya-practic/4408909cb242aa34d7ea8ae71ed090950e50f309/photo8/layer4.png) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
  height: 100%;
  background-size: auto 1450px;
}

/* Слой 5 - Горы */
.layer-5 {
animation: animation_fg linear 120s infinite both;
  background: url(https://raw.githack.com/miiirumirrr/CSS-style-dlya-practic/4408909cb242aa34d7ea8ae71ed090950e50f309/photo8/layer5.png) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
  height: 100%;
  background-size: auto 1450px;
}

/* Объекты. Бабушка и девушка */
.object-1 {
	background: url(https://raw.githack.com/miiirumirrr/CSS-style-dlya-practic/4408909cb242aa34d7ea8ae71ed090950e50f309/photo8/object1.png) 0 100% no-repeat;
	z-index: 1;
	position: absolute;
	bottom: 100px;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: auto 428px;
	animation: animation_object-1 linear 10s infinite both;
}

.object-2 {
	background: url(https://raw.githack.com/miiirumirrr/CSS-style-dlya-practic/4408909cb242aa34d7ea8ae71ed090950e50f309/photo8/object2.png) 0 100% no-repeat;
	z-index: 1;
	position: absolute;
	bottom: 100px;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: auto 400px;
	animation: animation_object-2 linear 15s infinite both;
}

/* Анимации для слоев */
@keyframes animation_fg {
  0% {
	background-position: 2765px 100%;
  }	
 100% {
	background-position: 550px 100%
	}
}

@keyframes animation_object-1 {
	0% {
	background-position: -300px 100%;
	}
	100% {
	background-position: 2000px 100%;
	}

}
